<div class="users-container">
  <p-toast></p-toast>
  <div class="content-card desktop-only">
    <table class="custom-users-table">
      <thead>
        <tr>
          <th class="col-id">Id</th>
          <th class="col-name">Name</th>
          <th class="col-email">Email</th>
          <th class="col-phone">Phone</th>
          <th class="col-date">Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" [class.even-row]="i % 2 === 1">
          <td class="col-id">{{ user.id }}</td>
          <td class="col-name">{{ user.name }}</td>
          <td class="col-email">{{ user.email }}</td>
          <td class="col-phone">{{ user.phoneNumber }}</td>
          <td class="col-date">{{ user.createdAt | date:'MM/dd/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mobile Card View -->
  <div class="mobile-cards-container mobile-only">
    <div class="user-card" *ngFor="let user of users">
      <div class="card-header">
        <span class="card-id">Id : {{ user.id }}</span>
      </div>
      
      <div class="card-body">
        <div class="info-row">
          <span class="label">User Name</span>
          <span class="value">{{ user.name }}</span>
        </div>
        <div class="info-row">
          <span class="label">Email</span>
          <span class="value">{{ user.email }}</span>
        </div>
        <div class="info-row">
          <span class="label">Phone</span>
          <span class="value">{{ user.phoneNumber }}</span>
        </div>
        <div class="info-row">
          <span class="label">Joined Date</span>
          <span class="value">{{ user.createdAt | date:'MM/dd/yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="custom-pager" *ngIf="totalCount > 0">
    <div class="pager-info">
      Showing {{ (pageNumber - 1) * pageSize + 1 }} to {{ (pageNumber * pageSize) > totalCount ? totalCount : (pageNumber * pageSize) }} of {{ totalCount }} entries
    </div>
    <div class="pager-controls">
      <button class="pager-btn text-btn" [disabled]="pageNumber === 1" (click)="goToPage(pageNumber - 1)">Previous</button>
      <button class="pager-btn num-btn" *ngFor="let page of pagesArray" [class.active]="page === pageNumber" (click)="goToPage(page)">
        {{ page }}
      </button>
      <button class="pager-btn text-btn" [disabled]="pageNumber === totalPages" (click)="goToPage(pageNumber + 1)">Next</button>
    </div>
  </div>
</div>
