.admin-orders-container {
  padding: 2rem;
}

.actions-cell {
  width: 150px;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.id-cell {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
